.previewCard {
  margin: 0;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-md);
  font-family: var(--mantine-font-family-monospace);

  @media (min-width: $mantine-breakpoint-md) {
    width: 480px;
  }

  &::selection {
    background-color: var(--selection-bg-color);
  }
}
