.colorBox {
  font-family: var(--mantine-font-family-monospace);
  line-height: 1.1;
  font-size: 12px;
  font-weight: 500;
  box-sizing: content-box;
  padding: 16px;
  border: none;
  border-radius: var(--mantine-radius-sm);
  isolation: isolate;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'name uses'
    'hex contrasts';
  column-gap: var(--mantine-spacing-md);
  row-gap: var(--mantine-spacing-sm);

  &.selected {
    outline: 1px solid var(--mantine-color-blue-7);
    box-shadow: 0 0 3px 2px var(--mantine-color-blue-7);
  }

  [data-mantine-color-scheme='dark'] &.selected {
    outline: 1px solid var(--mantine-color-blue-3);
    box-shadow: 0 0 3px 2px var(--mantine-color-blue-3);
  }

  .name {
    grid-area: name;
    font-weight: bold;
    font-size: 14px;
  }

  .hex {
    grid-area: hex;
    align-self: end;
  }

  .uses,
  .contrasts {
    font-family: var(--mantine-font-family);
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    li {
      display: block;
    }
  }

  .uses {
    grid-area: uses;
    text-align: right;
    li {
      white-space: nowrap;
    }
  }

  .contrasts {
    grid-area: contrasts;
    justify-self: end;
    align-self: end;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    li {
      display: flex;
      justify-content: space-between;
      gap: var(--mantine-spacing-xs);
      .contrastLabel {
        color: color-mix(in srgb, var(--fg-color), transparent 25%);
        text-transform: lowercase;
      }
    }
  }
}
