.colorBox {
  font-family: var(--mantine-font-family-monospace);
  line-height: 1.1;
  font-size: 12px;
  font-weight: 500;
  box-sizing: content-box;
  padding: 16px;
  border: none;
  border-radius: var(--mantine-radius-sm);

  &.selected {
    outline: 1px solid var(--mantine-color-blue-7);
    box-shadow: 0 0 3px 2px var(--mantine-color-blue-7);
  }

  [data-mantine-color-scheme='dark'] &.selected {
    outline: 1px solid var(--mantine-color-blue-3);
    box-shadow: 0 0 3px 2px var(--mantine-color-blue-3);
  }
}
