.container {
  width: fit-content;
  margin-inline: auto;
  padding-inline: var(--mantine-spacing-lg);
  margin-block: var(--mantine-spacing-sm);
  gap: var(--mantine-spacing-sm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header'
    'ThemeDisplay EditorCard'
    'ThemeDisplay PreviewCard'
    'OutputCard OutputCard';

  .header {
    grid-area: header;
    justify-self: center;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'header header header'
      'ThemeDisplay EditorCard OutputCard'
      'ThemeDisplay PreviewCard OutputCard';
  }

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
    padding-inline: var(--mantine-spacing-sm);
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'ThemeDisplay'
      'EditorCard'
      'PreviewCard'
      'OutputCard';

    h1 {
      grid-column: 1 / span 1;
    }
  }
}
