:root {
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image:
    radial-gradient(
      circle at 20% 30%,
      color-mix(in srgb, var(--mantine-color-grape-3) 40%, transparent),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 20%,
      color-mix(in srgb, var(--mantine-color-orange-3) 40%, transparent),
      transparent 40%
    ),
    radial-gradient(
      circle at 40% 80%,
      color-mix(in srgb, var(--mantine-color-blue-3) 40%, transparent),
      transparent 40%
    );
  background-size: cover;
}

:root[data-mantine-color-scheme='dark'] body::before {
  background-image:
    radial-gradient(
      circle at 20% 30%,
      color-mix(in srgb, var(--mantine-color-grape-9) 40%, transparent),
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 20%,
      color-mix(in srgb, var(--mantine-color-orange-9) 40%, transparent),
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 80%,
      color-mix(in srgb, var(--mantine-color-blue-9) 40%, transparent),
      transparent 50%
    );
  background-color: color-mix(
    in srgb,
    var(--mantine-color-dark-8),
    transparent 30%
  );
}

h1 {
  font-family: 'Stack Sans Notch', sans-serif !important;
  text-transform: lowercase;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.paper-transparent {
  background-color: color-mix(
    in srgb,
    var(--mantine-color-body),
    transparent 50%
  );

  backdrop-filter: blur(10px) saturate(180%);

  @media (prefers-color-scheme: dark) {
    background-color: color-mix(
      in srgb,
      var(--mantine-color-body),
      transparent 92%
    );
    backdrop-filter: blur(10px) saturate(140%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.1) 100%
    ); /* Gradient for a reflective shine */
    opacity: 0.5;
    border-radius: var(--mantine-radius-md);
    pointer-events: none; /* Allows interaction with content underneath */
  }
}

.input-transparent {
  background-color: color-mix(in srgb, var(--input-bg), transparent 50%);
}

.tab-hover:hover {
  background-color: color-mix(
    in srgb,
    var(--mantine-color-body),
    transparent 50%
  );
  backdrop-filter: blur(10px) saturate(180%);

  /* @media (prefers-color-scheme: dark) {
    background-color: color-mix(
      in srgb,
      var(--mantine-color-body),
      transparent 65%
    );
    backdrop-filter: blur(10px) saturate(140%);
  } */
}

.divider {
  border: none;
  height: 1px;
  background-color: color-mix(in srgb, #000, transparent 90%);
  backdrop-filter: saturate(180%);

  [data-mantine-color-scheme='dark'] & {
    background-color: color-mix(in srgb, #fff, transparent 90%);
  }
}
